h1 {
    background-color: aliceblue;
  }
  
  .p1 {
    background-color: bisque;
  }
  
  
  #p1 {
    padding: 25px;
    margin-left: 40px;
    width: 16em;
    border: 40px; 
    background-color: white;
    border: solid black;
  }
  
  
  #p2 {
    padding: 25px;
    margin-left: 40px;
    width: 16em;
    border: 40px; 
    background-color: white;
  }
  
  body {
    background-color: #434444;
    
  }
  footer {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-style: oblique;
      font-size: 23 px;
      color: rgb(248, 246, 246);
  }