p, span{
    font-size: 16 px;
    color:red;
}
p span {
    font-size: 14 px;
}

header p {
    font-size: 22 px;
    color:red;
}
p > span{
    font-size: 16 px;
    color:red;

}
header h1 p {
    color:red
}